<section class="py-12" id="terms_and_conditions">
  <div class="max-w-5xl mx-auto px-4 my-8 md:my-12">
    <!-- page heading-->
    <div class="text-center mb-12">
      <h1 class="text-3xl md:text-4xl font-extrabold uppercase underline tracking-tight">
        Terms and Conditions
      </h1>
    </div>
    <!-- main section-->
    <div>
      <div>
        <div style="text-align: left; line-height: 1">

          <div class="MsoNormal" style="text-align: left; line-height: 1.5">
            <br />
          </div>
          <div class="MsoNormal" style="text-align: left; line-height: 150%">
            <div class="MsoNormal" style="line-height: 1.5"><br /></div>
            <div class="MsoNormal" id="m_ip" style="line-height: 1.5">
              <a name="m___4rd71iod99ud" rel="noreferrer"></a>
              <strong>
                <span
                  style="line-height: 115%; font-family: Arial; font-size: 19px"
                >
                  <strong>
                    <span
                      style="
                        line-height: 115%;
                        font-family: Arial;
                        font-size: 19px;
                      "
                      >1.
                    </span> </strong
                  >INTELLECTUAL PROPERTY RIGHTS</span
                >
              </strong>
            </div>
          </div>
          <div class="MsoNormal" style="text-align: left; line-height: 1">
            <br />
          </div>
          <div class="MsoNormal" style="text-align: left; line-height: 150%">
            <div class="MsoNormal" style="line-height: 1.5">
              <span
                >Unless otherwise indicated, the Site is our proprietary
                property and all source code, databases, functionality,
                software, website designs, audio, video, text, photographs, and
                graphics on the Site (collectively, the “Content”) and the
                trademarks, service marks, and logos contained therein (the
                “Marks”) are owned or controlled by us or licensed to us, and
                are protected by copyright and trademark laws and various other
                intellectual property rights and unfair competition laws of the
                United States, international copyright laws, and international
                conventions. The Content and the Marks are provided on the Site
                “AS IS” for your information and personal use only. Except as
                expressly provided in these Terms of Use, no part of the Site
                and no Content or Marks may be copied, reproduced, aggregated,
                republished, uploaded, posted, publicly displayed, encoded,
                translated, transmitted, distributed, sold, licensed, or
                otherwise exploited for any commercial purpose whatsoever,
                without our express prior written permission.</span
              >
            </div>
          </div>
          <div class="MsoNormal" style="text-align: left; line-height: 1">
            <br />
          </div>
          <div class="MsoNormal" style="text-align: left; line-height: 150%">
            <div class="MsoNormal" style="line-height: 1.5">
              <span
                >Provided that you are eligible to use the Site, you are granted
                a limited license to access and use the Site and to download or
                print a copy of any portion of the Content to which you have
                properly gained access solely for your personal, non-commercial
                use. We reserve all rights not expressly granted to you in and
                to the Site, the Content and the Marks.</span
              >
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
